#login {
  padding: 10px; }

#events img {
  width: 100%; }

.online_button {
  text-decoration: none;
  color: #ffffff !important;
  flex: 1 1 auto;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 3px 0px 0px 3px;
  transition: background-color 2s;
  background-color: #0C69BD; }
  .online_button a {
    color: #ffffff !important; }

#bylaws {
  padding: 20px; }
  #bylaws p {
    padding: 20px; }

.library_staff h2 {
  color: #008156; }

.heading_friends {
  color: #022b57;
  font-family: "eskorte-latin";
  font-size: 20px; }

.friends_events img {
  width: 76%; }

.friends_container {
  border-bottom: 2px solid #498CC8; }

.friends_event_item {
  list-style: none;
  border-right: .5px dotted #008156;
  width: 100%;
  background-color: #f0f4f6;
  height: 100%; }
  .friends_event_item .event_text {
    background-color: transparent;
    padding: 10px; }

.friends_events p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

a.tl-button {
  letter-spacing: 1.2px !important;
  display: inline-block !important;
  font-family: museo-sans,sans-serif !important;
  font-size: 12px !important;
  font-weight: normal !important;
  margin: 0 !important;
  padding: 6px 10px 7px !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important; }

a.tl-button span {
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 700 !important; }

.library_policies h2, .library_questions h2 {
  text-align: center; }

.material-icons.expand {
  font-size: 21px; }

.fa.fa-arrow-circle-up {
  font-size: 21px; }

.card-body li {
  list-style: none;
  color: #022b57;
  font-family: "eskorte-latin";
  margin: 0px;
  font-size: 1.2em; }

.cards {
  width: 500px;
  margin: 0 auto; }
  .cards .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: all 0.3s; }
    .cards .card .card-header {
      text-transform: uppercase;
      position: relative;
      padding: 10px;
      color: #05845A;
      width: 94%; }
      .cards .card .card-header button.card-expand {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 10px;
        vertical-align: middle;
        height: 39px;
        border: none;
        background-color: transparent;
        cursor: pointer; }
        .cards .card .card-header button.card-expand:hover {
          background-color: #F9F9F9; }
        .cards .card .card-header button.card-expand .expand {
          display: block; }
        .cards .card .card-header button.card-expand .close {
          display: none; }
    .cards .card .card-footer {
      border-top: 1px solid #eee;
      text-transform: uppercase; }
      .cards .card .card-footer a {
        color: #757575;
        text-decoration: none; }
    .cards .card .card-body,
    .cards .card .card-footer {
      padding: 10px; }
    .cards .card .card-inner {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s; }
    .cards .card.expanded {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .cards .card.expanded .card-inner {
        max-height: 500px; }
      .cards .card.expanded button.card-expand .expand {
        display: none; }
      .cards .card.expanded button.card-expand .close {
        display: block; }
      .cards .card.expanded .card-header {
        border-bottom: 1px solid #eee; }

h4 {
  font-size: 1.58rem !important;
  margin: 1.14rem 0 0.912rem 0;
  font-weight: 300 !important;
  line-height: normal !important; }

.library_staff h1 {
  text-align: center; }
.library_staff a {
  color: #05845A;
  font-family: "eskorte-latin";
  text-decoration: none; }
.library_staff li {
  list-style: none; }

#about_container {
  border-bottom: 2px solid #498CC8;
  padding: 10px;
  background-color: #f4f4f2; }
  #about_container .about_hours {
    display: flex;
    justify-content: space-around; }
    #about_container .about_hours h1 {
      font-family: "museo";
      font-size: 3em !important; }
    #about_container .about_hours li {
      list-style: none;
      color: #022b57;
      font-family: "eskorte-latin";
      margin: 0px;
      font-size: 1.2em; }
    #about_container .about_hours h2 {
      color: #022b57;
      font-family: "eskorte-latin";
      font-size: 2.2em !important; }
    #about_container .about_hours section {
      border: 1px solid #fcca67;
      background-color: #ffffff;
      padding: 20px;
      min-width: 450px; }

.about_hours li {
  list-style: none;
  color: #022b57;
  font-family: "eskorte-latin"; }

.search_options {
  margin: 0px;
  padding: 0px; }

#reference .resource li:first-child {
  color: #022b57;
  font-family: "eskorte-latin";
  font-size: 15px; }

#reference #events {
  float: none;
  margin-bottom: 20px; }

#reference #events section {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: 0px; }

#upcoming-events-widget .tl-main {
  display: block; }

#little_elm_social {
  display: flex;
  justify-content: space-evenly;
  font-size: 33px;
  padding: 0px !important; }

#littleelm_footer {
  padding: 20px; }

#ltfl_multi_widget_wrapper {
  width: 871px !important; }

#upcoming-events-widget .green_button {
  margin-top: 20px; }

.active {
  background-color: #0451A3 !important;
  color: blue; }

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #000000 !important;
  font-size: 1.3em; }

footer {
  background-color: #0C69BD;
  background-color: #224a83;
  background-image: -moz-linear-gradient(top, #10284b, #224a83);
  background-image: -ms-linear-gradient(top, #10284b, #224a83);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#10284b), to(#224a83));
  background-image: -webkit-linear-gradient(top, #10284b, #224a83);
  background-image: -o-linear-gradient(top, #10284b, #224a83);
  background-image: linear-gradient(top, #10284b, #224a83);
  background-repeat: repeat-y;
  border: 0 none; }

#social_media a {
  font-size: 3.7em; }

#social_media ul {
  display: flex;
  justify-content: space-evenly; }

#ltfl_widget_ult_3711755832_frame {
  padding: 45px;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  width: 950px !important; }

#footer_content {
  display: flex;
  justify-content: space-between; }

footer li {
  font-family: "eskorte-latin";
  color: #ffffff;
  font-size: 1.2em; }
  footer li a {
    color: #ffffff;
    opacity: .8; }

footer ul {
  list-style: none;
  padding: 20px; }

.unslider img {
  width: 100%; }

.tl-main {
  display: none; }

.tl-footer {
  display: none; }

.tl-header {
  display: none; }

#research_area {
  display: flex;
  justify-content: space-evenly; }

#logo {
  margin-top: 30px; }

#library_address li {
  color: black !important;
  font-size: 1em; }

#hoursModal {
  margin-left: 50px; }
  #hoursModal li {
    color: #008156; }

#loginModal {
  right: 79px; }

#loginModal, #hoursModal {
  display: none;
  position: fixed;
  float: right;
  z-index: 9999999;
  padding: 20px;
  border: 1px solid #00CD89;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: #ffff; }
  #loginModal h3, #hoursModal h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    color: #666 !important; }
  #loginModal ul, #hoursModal ul {
    padding: 0px;
    margin: 0px;
    display: block;
    background-color: #ffffff !important; }
    #loginModal ul li, #hoursModal ul li {
      width: 100%; }
      #loginModal ul li a, #hoursModal ul li a {
        width: 100%;
        padding: 10px; }
    #loginModal ul #borrowing a:hover, #hoursModal ul #borrowing a:hover {
      background-color: #f8f8f9 !important; }
  #loginModal #register_button, #hoursModal #register_button {
    background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
    background-image: linear-gradient(45deg, #022b57, #0451A3);
    display: inline-block;
    color: #fff;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    max-width: 100%;
    text-align: center; }
    #loginModal #register_button a, #hoursModal #register_button a {
      color: #ffffff !important; }

#register_button:hover, .button:hover {
  background-image: -webkit-linear-gradient(45deg, #356AA3, #23466C) !important;
  background-image: linear-gradient(45deg, #356AA3, #23466C) !important; }

.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0; }

.dropdown {
  display: none;
  position: absolute;
  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em; }
  .dropdown li {
    list-style-type: none; }
    .dropdown li a {
      text-decoration: none;
      padding: .5em 1em;
      display: block; }

/*
  Menu
*/
.menu-collapsed {
  transition: all .25s;
  width: 100%;
  z-index: 1;
  cursor: pointer; }
  .menu-collapsed ul {
    transition: all 0s;
    font-family: "eskorte-latin";
    background-image: linear-gradient(45deg, #356aa3, #356aa3) !important;
    background-color: #0C69BD;
    display: flex;
    flex-direction: row;
    width: 100%; }

.button_heading {
  display: flex;
  justify-content: start; }

/*header */
aside ul li {
  list-style: none; }

.library_card, .career, .education, .downloads {
  flex-direction: column !important; }

#icons section {
  display: flex;
  padding: 10px;
  margin-left: 10px;
  min-width: 87px; }
#icons p {
  margin-bottom: 0px !important; }

.downloads, .volunteer {
  background: #FF0000;
  border-color: #0087be;
  color: white !important; }

.downloads:hover, .volunteer:hover {
  background: #6C0303; }

.career, .education {
  background: #067E78;
  border-color: #0087be;
  color: white !important; }

.career:hover, .education:hover {
  background-color: #04524E; }

.event_calendar, .library_card {
  background: #00aadc;
  border-color: #0087be;
  color: white;
  padding: 7px 14px 9px 8px;
  flex-direction: column !important;
  display: flex !important; }

.event_calendar:hover, .library_card:hover {
  background: #0083A9; }

.green_button a {
  color: #ffffff !important;
  font-size: 11px !important;
  font-weight: 600; }

aside {
  position: absolute;
  left: 71%;
  width: 26%;
  background-color: #ffffff;
  padding: 20px;
  border-left: 1px solid green;
  z-index: 999999; }
  aside h3 {
    color: #05845A;
    font-size: 1.5em; }

.topnav {
  background-color: #ffffff; }
  .topnav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    font-family: "eskorte-latin";
    margin-bottom: 0px;
    color: #ffffff;
    padding-top: 10px;
    font-weight: 500;
    border-bottom: 2px green inset;
    background-color: #0451A3 !important; }
    .topnav ul #login {
      line-height: 30px;
      height: 100%; }
      .topnav ul #login a {
        color: #ffffff !important;
        font-size: .7em !important;
        font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .topnav ul li {
      color: #ffffff;
      font-size: 18px;
      text-align: left; }
      .topnav ul li a {
        color: #022b57;
        text-decoration: none; }

.topnav p {
  text-align: center; }

.button--primary {
  background-color: #ce3d90;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.button--rounded {
  border-radius: 999px; }

header {
  border-bottom: 2px #0bacd8 solid; }
  header .research {
    padding-top: 40px;
    width: 34%; }
    header .research span {
      color: #006745; }
  header h3 {
    font-family: "eskorte-latin";
    color: #002e51;
    font-size: 1.875rem;
    margin: 0px; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
  header nav h2 {
    color: #ffffff;
    font-family: "eskorte-latin";
    font-size: 22px;
    margin-bottom: 0px;
    padding: 28px;
    letter-spacing: 2px;
    opacity: .9; }
  header #transl1 {
    width: 54%; }
  header .search_options {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header .search_options li a {
      color: #05845A;
      font-family: "eskorte-latin";
      text-decoration: none;
      font-size: 18px;
      transition: color 2s ease; }
    header .search_options li a:hover {
      color: #035137; }

/*buttons*/
.button {
  transition: background-color 2s;
  transition: background-image 2s;
  background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 100%; }

.button:hover {
  background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3); }

.orange {
  background-image: -webkit-linear-gradient(106deg, #ffc14c 50%, #FFCA65 50%);
  background-image: linear-gradient(106deg, #ffc14c 50%, #FFCA65 50%); }

.green_button {
  background-image: -webkit-linear-gradient(45deg, #008156, #006745);
  background-image: linear-gradient(45deg, #008156, #006745);
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  color: #ffffff !important;
  transition: background-color 2s;
  transition: background-image 2s; }

#searchform {
  display: flex;
  margin-bottom: 0px; }

.green_button:hover, .green_button a:hover {
  background-image: -webkit-linear-gradient(45deg, #035137, #035137);
  background-image: linear-gradient(45deg, #035137, #035137);
  background-color: #035137; }

/*carousel*/
.gradient {
  background: linear-gradient(rgba(60, 95, 112, 0.7), rgba(60, 95, 112, 0.7)), url(../images/carousel1.jpg) !important;
  background-size: cover !important;
  background-position: center !important; }

.donate_button {
  border: 2px solid #087B9A;
  font-family: "eskorte-latin";
  color: #087B9A;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 19px; }

.volunteer_button {
  border: 2px solid #008156;
  font-family: "eskorte-latin";
  color: #008156;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 19px; }

.main_nav {
  background-image: -webkit-linear-gradient(45deg, #022B57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  border-top: 2px #0bacd8 solid; }
  .main_nav ul li {
    flex: 1 1 auto;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    transition: background-color 2s;
    background-color: #0C69BD;
    padding: 10px; }
  .main_nav ul li:hover {
    background-color: #04223D; }
  .main_nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px; }
  .main_nav .active_menu {
    background-color: #51607F !important; }

.database {
  background-color: #ffffff; }

.event_number {
  display: none; }

.event_name {
  display: none; }

.explore {
  transform: translateY(50%); }

#research_databases h1 {
  font-family: "mrs-eaves-roman-small-caps";
  text-align: center;
  font-size: 38px; }

#research {
  background-color: #ffffff;
  height: 200px;
  font-family: "mrs-eaves-roman-small-caps";
  color: #ffffff; }
  #research h1 {
    color: #ffffff;
    background-color: #217853;
    text-align: center; }
  #research h3 {
    font-size: 24px;
    color: #ffffff;
    background-color: #217853; }
  #research .research_databases {
    display: flex;
    justify-content: space-between; }
  #research .database {
    background-color: #ffffff;
    border-left: 2px dotted #217853;
    padding: 20px;
    opacity: .8; }

.events_home {
  display: flex;
  width: 69%; }

#events {
  padding: 20px;
  background-color: #f8f8f9 !important; }
  #events section {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-height: 315px;
    margin-left: 10px; }
  #events h2 {
    font-size: 2.1em; }

.event_title ul li {
  font-family: "museo";
  color: #ffffff;
  list-style: none;
  font-size: 23px;
  margin-right: 51px;
  z-index: 99999; }

#new_books h1 {
  text-align: center;
  font-family: "museo";
  font-size: 33px;
  font-weight: 600;
  z-index: 99999; }
#new_books h1.green {
  color: #05845A; }

#online h2 {
  color: #ffffff;
  font-family: "museo";
  font-size: 31px;
  margin-bottom: 0px;
  padding: 10px;
  letter-spacing: 2px;
  opacity: .9;
  font-weight: 600;
  z-index: 999999; }
#online h3 {
  font-family: "museo";
  color: #008156;
  font-weight: 500; }
#online ul {
  list-style: none;
  border-right: .5px dotted #008156;
  width: 100%;
  background-color: #f0f4f6; }
#online .ebooks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  #online .ebooks ul li {
    font-weight: bold;
    padding: 10px; }
  #online .ebooks ul:hover {
    background-color: #CBD7E3; }

.children_opening {
  background: url("../images/childrentile.png") center;
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }

.about_opening {
  background: url("../images/about.png");
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }
  .about_opening .event_title ul li {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center; }

.friends_opening {
  background: url("../images/friendstile.png");
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }
  .friends_opening .event_title ul li {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center; }

.seed_opening {
  background: url("../images/seedlibrary.png") center;
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;
  background: url("../images/seedlibrary.png") center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); }
  .seed_opening .event_title ul li {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center; }

.adult_opening {
  background: url("../images/adult.png") center;
  background-size: contain;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8); }
  .adult_opening .event_title ul li {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center; }

.children_opening .event_title ul li {
  font-family: "museo";
  color: #ffffff;
  list-style: none;
  font-size: 42px;
  margin-right: 51px;
  z-index: 99999;
  font-weight: 600;
  text-align: center; }

/*.children_events {
   background-color:#356aa3;
   filter: drop-shadow(6px 1px 7px rgba(0,0,0,0.5));

   h2 {
     font-family: "museo";
     color: #ffffff;
     font-weight: 600;
     opacity:.8;
   }

   p {
     font-family: "eskorte-latin";
     color: #ffffff;
    font-size:20px;
   }

  .event_text {
   padding:20px;

  }

  h3 {
   font-family: "eskorte-latin";
    font-size:20px;
    padding:20px;
    color:#008156 !important;

  }

  .listed_events {

      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
  }

}*/
.fab_button {
  width: 3.6rem;
  height: 3.6rem;
  background: #5DB2DF;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 10px; }

.fa-plane::before {
  content: "\f072";
  color: #ffffff;
  text-align: center;
  margin-left: 16px;
  margin-top: 13px;
  font-size: 28px; }

#heading_area {
  display: flex; }

.event_description {
  background-image: -webkit-linear-gradient(45deg, #0C69BD, #0C69BD);
  background-image: linear-gradient(45deg, #0C69BD, #0C69BD);
  padding: 20px; }
  .event_description p {
    color: #ffffff !important;
    font-family: "eskorte-latin";
    font-size: 18px;
    margin-bottom: 0px; }

.resources {
  display: flex; }

#heading_area .event_text {
  border: 1px solid #fcca67; }

.event_text {
  background-color: #ffffff;
  padding: 10px; }
  .event_text p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px; }
  .event_text p {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 18px; }
  .event_text ul {
    list-style: none; }
  .event_text ul li {
    color: #022b57;
    font-family: "museo";
    font-weight: bold; }
  .event_text h3 {
    font-family: "eskorte-latin";
    font-size: 28px;
    color: #0C69BD !important; }

.children_event_heading {
  width: 100%;
  margin-top: 20px; }
  .children_event_heading h2 {
    font-family: "eskorte-latin";
    color: #ffffff;
    text-align: center;
    background-color: #498CC8; }

.teen_events_heading {
  width: 100%;
  margin-top: 20px; }
  .teen_events_heading h2 {
    font-family: "eskorte-latin";
    color: #ffffff;
    text-align: center;
    background-color: #498CC8; }

#heading_area {
  border-bottom: 2px solid #498CC8;
  padding: 10px;
  background-color: #f4f4f2; }

.event {
  background-color: #ffffff;
  padding: 10px; }
  .event ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }

.children_events h2 {
  font-family: "eskorte-latin";
  color: #022b57;
  text-align: center;
  border: 2px solid black;
  width: 522px;
  margin: 0 auto; }

.children_resources {
  background-color: #ffffff; }
  .children_resources h2 {
    font-family: "museo";
    color: #008156;
    font-weight: 600;
    opacity: .8; }
  .children_resources .resource {
    list-style: none;
    border-right: .5px dotted #008156;
    width: 100%;
    background-color: #f0f4f6; }

#onlineresources h2 {
  font-family: "museo";
  color: #ffffff;
  list-style: none;
  font-size: 42px;
  margin-bottom: 60px;
  z-index: 99999;
  font-weight: 600;
  text-align: center;
  color: green;
  border: none; }

.featured_events {
  background-color: #ffffff; }
  .featured_events h2 {
    font-family: "museo";
    color: #555;
    font-weight: 600;
    opacity: .8; }
  .featured_events p {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px; }
  .featured_events .stories {
    display: flex;
    justify-content: space-between;
    color: #022b57;
    font-family: "museo"; }
    .featured_events .stories ul {
      list-style: none; }
      .featured_events .stories ul li {
        color: #022b57;
        font-family: "museo";
        font-weight: bold; }

.resource {
  padding: 10px; }
  .resource .online_button {
    text-decoration: none;
    color: #ffffff;
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    transition: background-color 2s;
    background-color: #0C69BD; }
  .resource .online_button:hover {
    background-color: #052C50; }
  .resource li {
    margin-bottom: 21px; }
  .resource li:first-child {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px; }
  .resource .features {
    color: #008156; }

.children_resources {
  background-color: #ffffff;
  margin-top: 20px; }

.children_events {
  margin-top: 20px; }

/*mobile */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #research_area {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }

  header .research {
    padding-top: 40px;
    width: 100%; }

  #searchform {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column; }

  header #transl1 {
    width: 100%; }

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column; }

  header .search_options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }

  aside {
    position: static;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-left: 1px solid green; }

  #footer_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column; } }
/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #research_area {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; }

  header .research {
    padding-top: 40px;
    width: 100%; }

  #searchform {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column; }

  header #transl1 {
    width: 100%; }

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-direction: column; }

  header .search_options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }

  aside {
    position: static;
    left: 0%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-left: 1px solid green; }

  #footer_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }

  .resources {
    display: flex;
    flex-direction: column; }

  #events {
    padding: 0px;
    background-color: #f8f8f9 !important;
    float: left; }

  .children_events h2 {
    font-family: "eskorte-latin";
    color: #022b57;
    text-align: center;
    border: 2px solid black;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px; }

  #online .ebooks {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column; }

  #about_container .about_hours section {
    border: 1px solid #fcca67;
    background-color: #ffffff;
    padding: 20px;
    min-width: 0px; }

  .cards {
    width: 100% !important;
    margin: 0 auto; }

  .cards .card .card-header button.card-expand {
    position: relative; } }

/*# sourceMappingURL=style.css.map */
