/*
  Menu
*/
.menu-collapsed {
  transition: all .25s;
  width: 100%;
  z-index: 1;
  cursor: pointer; }
  .menu-collapsed ul {
    transition: all 0s;
    font-family: "eskorte-latin";
    background-image: linear-gradient(45deg, #356aa3, #356aa3) !important;
    background-color: #0C69BD;
    display: flex;
    flex-direction: row;
    width: 100%; }

.button_heading {
  display: flex;
  justify-content: start; }

/*header */
.topnav {
  /*background-color: #d5e3f3;*/ }
  .topnav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    font-family: "eskorte-latin";
    /*box-shadow: 1px 4px 6px #022b57, 0 0 0 #000, 1px 4px 6px #def;*/
    background-image: linear-gradient(45deg, #022b57, #022b57);
    /*box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);*/
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px;
    font-weight: 500; }
    .topnav ul li {
      color: #ffffff;
      font-size: 18px; }
      .topnav ul li a {
        color: #C0E7F7;
        text-decoration: none; }

.topnav p {
  text-align: center; }

.button--primary {
  background-color: #ce3d90;
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.button--rounded {
  border-radius: 999px; }

header {
  border-bottom: 2px #0bacd8 solid; }
  header .research {
    padding-top: 40px; }
    header .research span {
      color: #006745; }
  header h3 {
    font-family: "eskorte-latin";
    color: #002e51;
    font-size: 1.875rem; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  header nav h2 {
    color: #ffffff;
    font-family: "eskorte-latin";
    font-size: 22px;
    margin-bottom: 0px;
    padding: 28px;
    letter-spacing: 2px;
    opacity: .9; }
  header #transl1 {
    width: 54%; }
  header .search_options {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header .search_options li a {
      color: #05845A;
      font-family: "eskorte-latin";
      text-decoration: none;
      font-size: 18px; }

/*buttons*/
.button {
  background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 100%;
  box-shadow: 0px 2px 10px #999; }

.orange {
  background-image: -webkit-linear-gradient(106deg, #ffc14c 50%, #FFCA65 50%);
  background-image: linear-gradient(106deg, #ffc14c 50%, #FFCA65 50%); }

.green_button {
  background-image: -webkit-linear-gradient(45deg, #008156, #006745);
  background-image: linear-gradient(45deg, #008156, #006745); }

/*carousel*/
.gradient {
  background: linear-gradient(rgba(60, 95, 112, 0.7), rgba(60, 95, 112, 0.7)), url(../images/carousel1.jpg) !important;
  background-size: cover !important;
  background-position: center !important; }

.donate_button {
  border: 2px solid #087B9A;
  font-family: "eskorte-latin";
  color: #087B9A;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 19px; }

.volunteer_button {
  border: 2px solid #008156;
  font-family: "eskorte-latin";
  color: #008156;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 19px; }

.main_nav {
  background-image: -webkit-linear-gradient(45deg, #022B57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  border-top: 2px #0bacd8 solid; }
  .main_nav ul li {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    background-color: #0C69BD; }
  .main_nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; }
  .main_nav .active_menu {
    background-color: #51607F !important; }

.database {
  background-color: #ffffff; }

.event_number {
  display: none; }

.event_name {
  display: none; }

.explore {
  transform: translateY(50%); }

#research_databases h1 {
  font-family: "mrs-eaves-roman-small-caps";
  text-align: center;
  font-size: 38px; }

#research {
  background-color: #ffffff;
  height: 200px;
  font-family: "mrs-eaves-roman-small-caps";
  color: #ffffff; }
  #research h1 {
    color: #ffffff;
    background-color: #217853;
    text-align: center; }
  #research h3 {
    font-size: 24px;
    color: #ffffff;
    background-color: #217853; }
  #research .research_databases {
    display: flex;
    justify-content: space-between; }
  #research .database {
    background-color: #ffffff;
    border-left: 2px dotted #217853;
    padding: 20px;
    opacity: .8; }

#events {
  background: url("../images/carousel1.jpg") center;
  height: 500px;
  border-bottom: 2px #0bacd8 solid; }
  #events ul {
    margin: 0 auto;
    width: 330px;
    display: flex;
    justify-content: space-evenly; }

#events::after {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 542px;
  height: 56%;
  width: 100%;
  content: '';
  display: block; }

.event_title ul li {
  font-family: "museo";
  color: #ffffff;
  list-style: none;
  font-size: 23px;
  margin-right: 51px;
  z-index: 99999; }

#new_books h1 {
  text-align: center;
  font-family: "museo";
  font-size: 33px;
  font-weight: 600;
  z-index: 99999; }
#new_books h1.green {
  color: #05845A; }

#online h2 {
  color: #ffffff;
  font-family: "museo";
  font-size: 31px;
  margin-bottom: 0px;
  padding: 10px;
  letter-spacing: 2px;
  opacity: .9;
  font-weight: 600;
  z-index: 999999; }
#online h3 {
  font-family: "museo";
  color: #008156;
  font-weight: 500; }
#online ul {
  list-style: none;
  border-right: .5px dotted #008156;
  width: 100%;
  background-color: #f0f4f6; }
#online .ebooks {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  #online .ebooks ul li {
    font-weight: bold;
    padding: 10px; }
  #online .ebooks ul:hover {
    background-color: #CBD7E3; }

.children_opening {
  background: url("../images/childrentile.png") center;
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px; }

.adult_opening {
  background: url("../images/adult.png") center;
  background-size: cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px; }
  .adult_opening .event_title ul li {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center; }

.children_opening .event_title ul li {
  font-family: "museo";
  color: #ffffff;
  list-style: none;
  font-size: 42px;
  margin-right: 51px;
  z-index: 99999;
  font-weight: 600;
  text-align: center; }

.adult_opening::after {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 540px;
  height: 23%;
  width: 100%;
  content: '';
  display: block; }

.children_opening::after {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 540px;
  height: 23%;
  width: 100%;
  content: '';
  display: block; }

/*.children_events {
   background-color:#356aa3;
   filter: drop-shadow(6px 1px 7px rgba(0,0,0,0.5));

   h2 {
     font-family: "museo";
     color: #ffffff;
     font-weight: 600;
     opacity:.8;
   }

   p {
     font-family: "eskorte-latin";
     color: #ffffff;
    font-size:20px;
   }

  .event_text {
   padding:20px;

  }

  h3 {
   font-family: "eskorte-latin";
    font-size:20px;
    padding:20px;
    color:#008156 !important;

  }

  .listed_events {

      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
  }

}*/
.fab_button {
  width: 3.6rem;
  height: 3.6rem;
  background: #5DB2DF;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 10px; }

.fa-plane::before {
  content: "\f072";
  color: #ffffff;
  text-align: center;
  margin-left: 16px;
  margin-top: 13px;
  font-size: 28px; }

#heading_area {
  display: flex; }

.event_description {
  background-image: -webkit-linear-gradient(45deg, #0C69BD, #0C69BD);
  background-image: linear-gradient(45deg, #0C69BD, #0C69BD);
  padding: 20px; }
  .event_description p {
    color: #ffffff !important;
    font-family: "eskorte-latin";
    font-size: 18px;
    margin-bottom: 0px; }

.resources {
  display: flex; }

#heading_area .event_text {
  border: 1px solid #fcca67; }

.event_text {
  background-color: #ffffff;
  padding: 10px; }
  .event_text p {
    color: #ffffff;
    font-family: "eskorte-latin";
    font-size: 18px; }
  .event_text p {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px; }
  .event_text ul {
    list-style: none; }
  .event_text ul li {
    color: #022b57;
    font-family: "museo";
    font-weight: bold; }
  .event_text h3 {
    font-family: "eskorte-latin";
    font-size: 28px;
    color: #0C69BD !important; }

.children_event_heading {
  width: 100%;
  margin-top: 20px; }
  .children_event_heading h2 {
    font-family: "eskorte-latin";
    color: #022b57;
    text-align: center;
    background-color: #498CC8; }

.teen_events_heading {
  width: 100%;
  margin-top: 20px; }
  .teen_events_heading h2 {
    font-family: "eskorte-latin";
    color: #022b57;
    text-align: center;
    background-color: #498CC8; }

#heading_area {
  border-bottom: 2px solid #498CC8;
  padding: 10px;
  background-color: #f4f4f2; }

.event {
  background-color: #ffffff;
  padding: 10px; }
  .event ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }

.children_events h2 {
  font-family: "eskorte-latin";
  color: #022b57;
  text-align: center;
  border: 2px solid black;
  width: 522px;
  margin: 0 auto; }

.children_resources {
  background-color: #ffffff; }
  .children_resources h2 {
    font-family: "museo";
    color: #008156;
    font-weight: 600;
    opacity: .8; }
  .children_resources .resource {
    list-style: none;
    border-right: .5px dotted #008156;
    width: 100%;
    background-color: #f0f4f6; }

#onlineresources h2 {
  color: #ffffff !important; }

.featured_events {
  background-color: #ffffff; }
  .featured_events h2 {
    font-family: "museo";
    color: #555;
    font-weight: 600;
    opacity: .8; }
  .featured_events p {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px; }
  .featured_events .stories {
    display: flex;
    justify-content: space-between;
    color: #022b57;
    font-family: "museo"; }
    .featured_events .stories ul {
      list-style: none; }
      .featured_events .stories ul li {
        color: #022b57;
        font-family: "museo";
        font-weight: bold; }

.resource {
  padding: 10px; }
  .resource .online_button {
    text-decoration: none;
    color: #ffffff;
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 3px 0px 0px 3px;
    background-color: #0C69BD; }
  .resource li {
    margin-bottom: 21px; }
  .resource li:first-child {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px; }
  .resource .features {
    color: #008156; }

.children_resources {
  background-color: #ffffff;
  margin-top: 20px; }

.children_events {
  margin-top: 20px; }

/*animations */

/*# sourceMappingURL=style.css.map */
