#upcoming-events-widget .tl-main {
    display: block;
}

#upcoming-events-widget .green_button {
    margin-top: 20px;
}

.active {
    background-color: #0451A3 !important;
    color: blue;
}

.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #000000 !important;
    font-size: 1.3em;
}

footer {
    background-color: #0C69BD;
}

#social_media ul {
    display: flex;
}

#ltfl_widget_ult_3711755832_frame {
    padding: 45px;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

#footer_content {
    display: flex;
    justify-content: space-between;
}

.fa-facebook-official::before {
    content: "\f230";
    color: #ffffff;
    font-size: 3.1em;
    padding: 30px;
}

.fa-twitter-square::before {
    content: "\f081";
    color: #ffffff;
    font-size: 3.1em;
}

footer li {
    font-family: "eskorte-latin";
    color: #ffffff;
    font-size: 1.2em;

     a {
       color: #ffffff;
       opacity: .8;

     }

}

footer ul {
    list-style: none;
    padding: 20px;
}

.unslider img {

    width:100%;

}

.tl-main {

    display: none;

}

.tl-footer {

    display: none;

}

.tl-header {

    display: none;

}

#research_area {
    display: flex;
    justify-content: space-evenly;
}

#logo {
  margin-top: 30px;
}



#library_address {


 li {
    color: black !important;
    font-size: 1em;
}

}

#hoursModal {
  margin-left: 50px;

li {

  color: #008156;
}

}

#loginModal {
  right: 79px;
}

#loginModal, #hoursModal {
  display: none;
position: fixed;
float: right;

z-index: 9999999;
padding: 20px;
border: 1px solid #00CD89;
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
background-color: #ffff;
  h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #333;
    font-weight: 600;
    color: #666 !important;

  }
   ul {
     padding: 0px;
margin: 0px;
         display: block;
         background-color:#ffffff !important;

          li {
                width: 100%;
                 a {

                   width: 100%;
                    padding: 10px;
                 }

          }

      #borrowing {
      a:hover {
          background-color: #f8f8f9 !important;

        }
      }
   }
#register_button {
  background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  display: inline-block;
  color: #fff;
  width: 100%;
padding: 5px;
  text-decoration: none;
  max-width: 100%;
  text-align: center;

  a {
   color:#ffffff !important;

  }



}

}

#register_button:hover, .button:hover {
  background-image: -webkit-linear-gradient(45deg, #356AA3, #23466C) !important;
  background-image: linear-gradient(45deg, #356AA3, #23466C) !important;

}

.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;
}
.dropdown {
  display:none;
  position: absolute;

  margin-top: .5em;
  background: #777;
  min-width: 12em;
  padding: 0;
  border-radius: 0 0 .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

/*
  Menu
*/
.menu-collapsed {
   transition: all .25s;
   width: 100%;
   z-index: 1;
   cursor: pointer;


   ul {
      transition: all 0s;
      font-family: "eskorte-latin";
			background-image: linear-gradient(45deg, #356aa3, #356aa3) !important;
        background-color: #0C69BD;
			display: flex;
flex-direction: row;
width: 100%;


   }


}

.button_heading {
    display: flex;
    justify-content: start;
}


/*header */

$logogreen: #05845A;
$logoblue: #002e51;

$button_orange: #ffc14c;
$button_light_orange: #FFCA65;

$button_green: #008156;
$button_light_green: #006745;

.topnav {
    background-color: #ffffff;

    ul {
      display: flex;
list-style: none;
justify-content: space-around;
text-align: center;
font-family: "eskorte-latin";
margin-bottom: 0px;
color: #ffffff;
padding-top: 10px;
font-weight: 500;
border-bottom: 2px green inset;
background-color: #ffffff;
background-color: #f8f8f9 !important;

#login {
   line-height:30px;
   height: 100%;

 a {
  color:#ffffff !important;
  font-size:.7em !important;
  font-family:"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

 }

}

    li {
      color:#ffffff;
      font-size: 18px;
      text-align: left;

          a { color:#022b57; text-decoration: none;}
    }
}




}

.topnav p {
  text-align: center;

}


.button--primary {
    background-color: #ce3d90;
    color:#ffffff;
    padding-top: 0.5rem;
padding-bottom: 0.5rem;

}


.button--rounded {
    border-radius: 999px;
}


header {

    border-bottom: 2px #0bacd8 solid;

    .research {
    padding-top: 40px;
width: 34%;

    span {
      color:#006745;

		}

    }

    h3 {
     font-family: "eskorte-latin";
     color: $logoblue;
     font-size: 1.875rem;


    }

 nav  {

     ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    h2 {
     color:#ffffff;
      font-family: "eskorte-latin";
      font-size: 22px;
      margin-bottom: 0px;
      padding:28px;
      letter-spacing: 2px;
       opacity: .9;

    }

  }

    #transl1 {
        width: 54%;
    }

    .search_options {
           list-style: none;
           display: flex;
           justify-content: space-between;

           li a {
            color:$logogreen;
             font-family: "eskorte-latin";
             text-decoration: none;
             font-size:18px;
           }

    }


}

/*buttons*/

 .button {

  background-image: -webkit-linear-gradient(45deg, #022b57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 100%;

}

.orange {
  background-image: -webkit-linear-gradient(106deg, $button_orange 50%, $button_light_orange 50%);
  background-image: linear-gradient(106deg, $button_orange 50%, $button_light_orange 50%);


}

.green_button {
  background-image: -webkit-linear-gradient(45deg, $button_green, $button_light_green);
  background-image: linear-gradient(45deg, $button_green, $button_light_green);
  display: inline-block;
 height: 38px;
 padding: 0 30px;
 color: #555;
 text-align: center;
 font-size: 11px;
 font-weight: 600;
 line-height: 38px;
 letter-spacing: .1rem;
 text-transform: uppercase;
 text-decoration: none;
 white-space: nowrap;
 background-color: transparent;
 border-radius: 4px;
 border: 1px solid #bbb;
 cursor: pointer;
 box-sizing: border-box;
 color:#ffffff !important;

}

#searchform {
display: flex;

}


/*carousel*/

.gradient {
  background:
 linear-gradient(
       rgba(60, 95, 112, 0.7),
       rgba(60, 95, 112, 0.7)
     ),
     url(../images/carousel1.jpg) !important;
   background-size:cover !important;
   background-position: center !important;

}

.donate_button {
border: 2px solid #087B9A;
font-family: "eskorte-latin";
color:#087B9A;
margin: 10px;
padding: 10px;
text-align: center;
font-size:19px;
}

.volunteer_button {
border: 2px solid #008156;
font-family: "eskorte-latin";
color:#008156;
margin: 10px;
padding: 10px;
text-align: center;
font-size:19px;
}

.main_nav {
  background-image: -webkit-linear-gradient(45deg, #022B57, #0451A3);
  background-image: linear-gradient(45deg, #022b57, #0451A3);
   border-top: 2px #0bacd8 solid;
    ul li {

      flex: 1 1 auto;

      text-align: center;
      border-radius: 3px 0px 0px 3px;
      background-color: #0C69BD;
       padding: 10px;
    }

     ul li a {
       color:#ffffff;
       text-decoration: none;
       text-transform: uppercase;



     }

   .active_menu {
     background-color:#51607F !important;


	 }

}

.database {
 background-color:#ffffff;


}

.event_number {

display: none;

}

.event_name {
display: none;

}

.explore {
    transform: translateY(50%);
}


#research_databases {


    h1 {
     font-family: "mrs-eaves-roman-small-caps";
     text-align: center;
     font-size: 38px;

       }

}

#research {

  background-color:#ffffff;
  height:200px;
     font-family: "mrs-eaves-roman-small-caps";
     color:#ffffff;



     h1 {
      color:#ffffff;
      background-color: #217853;
      text-align: center;

     }

       h3 {
     font-size: 24px;
     color: #ffffff;
     background-color: #217853;
 }




     .research_databases {
    display: flex;
    justify-content:space-between;

      }

      .database {
    background-color: #ffffff;
    border-left: 2px dotted #217853;
    padding: 20px;
    opacity: .8;
}



}

#events {
padding: 20px;
background-color: #f8f8f9 !important;

section {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  min-height: 315px;
}

h2 {
    font-size: 2.1em;
}

}

.event_title {

    ul li {
        font-family: "museo";
        color:#ffffff;
        list-style: none;
        font-size: 23px;
        margin-right: 51px;
        z-index: 99999;

    }

}


#new_books {

   h1 {
     text-align:center;
     font-family: "museo";
     font-size: 33px;
     font-weight: 600;
     z-index: 99999;

   }
    h1.green {
      color:$logogreen;


    }

}


#online {

   h2 {
     color:#ffffff;
    font-family: "museo";

      font-size: 31px;
      margin-bottom: 0px;
      padding:10px;
      letter-spacing: 2px;
       opacity: .9;
       font-weight: 600;
       z-index:999999;

   }

   h3 {
   font-family: "museo";
   color:#008156;
   font-weight: 500;
   }

   ul {
       list-style: none;
       border-right: .5px dotted #008156;
       width: 100%;
       background-color: #f0f4f6;
   }

   .ebooks {
     display: flex;
     justify-content: space-between;
     margin-top:20px;

      ul li {
         font-weight: bold;
         padding:10px;

      }

      ul:hover {
        background-color: #CBD7E3;

      }

 }


}

.children_opening {
  background: url("../images/childrentile.png") center;
  background-size:cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;




}

.adult_opening {
  background: url("../images/adult.png") center;
  background-size:cover;
  border-bottom: 2px #0bacd8 solid;
  height: 202px;

  .event_title ul li {

   font-family: "museo";
   color: #ffffff;
   list-style: none;
   font-size: 42px;
   margin-right: 51px;
   z-index: 99999;
   font-weight: 600;
   text-align: center;

}



}

.children_opening {

   .event_title ul li {

    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-right: 51px;
    z-index: 99999;
    font-weight: 600;
    text-align: center;

}

}

.adult_opening::after {

    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    height: 22%;
    width: 100%;
    content: '';
    display: block;

}

.children_opening::after {

    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    height: 22%;
    width: 100%;
    content: '';
    display: block;

}

/*.children_events {
   background-color:#356aa3;
   filter: drop-shadow(6px 1px 7px rgba(0,0,0,0.5));

   h2 {
     font-family: "museo";
     color: #ffffff;
     font-weight: 600;
     opacity:.8;
   }

   p {
     font-family: "eskorte-latin";
     color: #ffffff;
    font-size:20px;
   }

  .event_text {
   padding:20px;

  }

  h3 {
   font-family: "eskorte-latin";
    font-size:20px;
    padding:20px;
    color:#008156 !important;

  }

  .listed_events {

      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
  }

}*/

.fab_button {
width: 3.6rem;
height: 3.6rem;
background: #5DB2DF;
border-radius: 50%;
box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
padding: 10px;
}



.fa-plane::before {

    content: "\f072";
    color: #ffffff;
    text-align: center;
    margin-left: 16px;
    margin-top: 13px;
    font-size: 28px;

}

#heading_area {
 display:flex;

}
//background-color: #0C69BD;
.event_description {
  background-image: -webkit-linear-gradient(45deg, #0C69BD, #0C69BD);
  background-image: linear-gradient(45deg, #0C69BD, #0C69BD);
  padding:20px;

  p {
  color:#ffffff !important;
  font-family: "eskorte-latin";
  font-size: 18px;
  margin-bottom: 0px;
  }


}

.resources {
    display: flex;
}

#heading_area {

.event_text {
border:1px solid #fcca67;

}

}



.event_text {
 background-color:#ffffff;
  padding:10px;



    p {
    color:#ffffff;
    font-family: "eskorte-latin";
    font-size: 18px;

    }




  p {
     color: #022b57;
     font-family: "eskorte-latin";
     font-size: 20px;
 }

 ul {
     list-style: none;
 }

 ul li {
     color: #022b57;
     font-family: "museo";
     font-weight: bold;
 }

  h3 {
   font-family: "eskorte-latin";
    font-size:28px;
    color:#0C69BD !important;

  }
}



.children_event_heading {

  width:100%;

  margin-top: 20px;

   h2 {
    font-family: "eskorte-latin";
    color:#022b57;
    text-align: center;
    background-color:#498CC8;

   }

}

.teen_events_heading {

width:100%;

margin-top: 20px;

h2 {
 font-family: "eskorte-latin";
 color:#022b57;
 text-align: center;
  background-color:#498CC8;
}

}

#heading_area {
    border-bottom: 2px solid #498CC8;
    padding: 10px;
     background-color: #f4f4f2;
}

.event {

  background-color:#ffffff;

  padding:10px;
   ul {
    margin:0px;
    padding:0px;
    list-style:none;

   }



}

.children_events h2 {
  font-family: "eskorte-latin";
color: #022b57;
text-align: center;
border: 2px solid black;
width: 522px;
margin: 0 auto;
}

.children_resources {
 background-color:#ffffff;

 h2 {
   font-family: "museo";
   color: #008156;
   font-weight: 600;
   opacity:.8;
 }

 .resource {
 list-style: none;
 border-right: .5px dotted #008156;
 width: 100%;
 background-color: #f0f4f6;

}


}


#onlineresources h2 {
    font-family: "museo";
    color: #ffffff;
    list-style: none;
    font-size: 42px;
    margin-bottom: 60px;
    z-index: 99999;
    font-weight: 600;
    text-align: center;
    color: green;
    border: none;
}
.featured_events {
 background-color: #ffffff;
     h2 {
       font-family: "museo";
       color: #555;
       font-weight: 600;
       opacity:.8;

     }

  p {
    color:#022b57;
    font-family: "eskorte-latin";
    font-size: 20px;
  }

  .stories {
     display: flex;
     justify-content: space-between;
   color:#022b57;
   font-family: "museo";

   ul {
   list-style: none;

    li {
      color:#022b57;
      font-family: "museo";
      font-weight:bold;

    }

 }



 }

}

.resource {
   padding:10px;
  .online_button {
   text-decoration: none;
   color:#ffffff;
    flex: 1 1 auto;
margin: 10px;
padding: 10px;
text-align: center;
border-radius: 3px 0px 0px 3px;
background-color: #0C69BD;

  }

  li {
  margin-bottom: 21px;

  }

li:first-child {
    color: #022b57;
    font-family: "eskorte-latin";
    font-size: 20px;
}

.features {
  color: #008156;

}

}

.children_resources {
    background-color: #ffffff;
    margin-top: 20px;
}

.children_events {
    margin-top: 20px;
}
/*animations */
