<footer>

  <div class="container">

        <div class="row">


              <div class="twelve columns">


<section id="footer_content">

<section id="littleelm_footer">

<img src="images/littleelm.png" />

<ul id="little_elm_social">
<li><a href="http://www.facebook.com/littleelmlibrary"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
<li><a href="https://twitter.com/littleelmtx"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
</ul>

</section>

<section>

<ul>
  <li>Little Elm Public Library</li>
  <li>100 W. Eldorado Pkwy.</li>
  <li>Little Elm, TX 75068</li>
  <li>Ph: (214) 975-0430</li>
  <li>Fax: (214) 618-3582</li>
  <li><em>Need Help?</em> <a href="mailto:reference@littleelmlibrary.org">reference@littleelmlibrary.org</a></li>
</ul>
</section>

</section>

</div>

</div>

</div>

</footer>
