<header>

<section class="topnav">

<ul>
<li>Library is having a craft fair the weekend! </li>

</ul>

<div id="loginModal" class="main" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="false">
        <div class="modal-header">
          <h3>Create an Account</h3>
          <ul>
            <li id="register_button"><a href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-memberentry.pl">Register</a></li>
          </ul>
          <h3>Borrowing</h3>
          <ul id="borrowing">
            <li><a href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-user.pl">Renew Checked Out Items</a></li>
            <li><a href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-shelves.pl">Your Lists</a></li>
            <li><a href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-suggestions.pl">Your Purchase Suggestions</a></li>
          </ul>
        </div>


    </div>

<div id="hoursModal" class="main" tabindex="-1" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="false">
<h3>Hours Today</h3>
<ul>
  <li><em>8:00am-6:00pm</em></li>
  <li><a href="#">View Hours this Week</a></li>
</ul>
<h3>Visit the Library</h3>
<ul id="library_address">
<li>Little Elm Public Library</li>
<li>100 W. Eldorado Pkwy.</li>
<li>Little Elm, TX 75068</li>
<li>Ph: (214) 975-0430</li>
<li>Fax: (214) 618-3582</li>
</ul>
</div>

</section>


            <section id="research_area">
              <section id="logo">
              <a href="index.html"><img src="images/lel_logo.png" /></a>
            </section>

              <section class="research">
              <h3><em>Search the Catalog</em></h3>
              <form action="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-search.pl" id="searchform" method="get" name="searchform"><input id="transl1" name="q" type="text"></input>
                <select id="masthead_search" name="idx">
                  <option value="kw">Keyword</option>
                  <option value="ti">Title</option>
                  <option value="au">Author</option>
                  <option value="su">Subject</option>
                  <option value="nb">ISBN</option>
                  <option value="se">Series</option>
                  <option value="callnum">Call Number</option>
                </select>

<a href="#" class="button">Search</a>

</form>


<section id="search_options">

<ul class="search_options">
<li><a href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-search.pl">Advanced Search</a></li>
<li><a href="#">Suggest a Purchase</a></li>
</ul>

</section>

<section id="login">

<ul class="search_options">
<li class="green_button"><a target="_blank" href="http://littleelm.bywatersolutions.com/cgi-bin/koha/opac-user.pl">Login/My Account</a></li>

</ul>

</section>

</section>




</section>


<section class="main_nav">

<div class="container">

      <div class="row">
<nav>
  <ul>
    <li><a href="https://lepl.ticketleap.com">Events Calendar</a></li>
    <li><a href="children.html">Kids & Parents</a></li>
      <li><a href="teen.html">Teens</a></li>
    <li><a href="adult.html">Adults</a></li>
    <li><a href="reference.html">Reference Services</a></li>
    <li><a href="databases.html">Digital Library</a></li>
    <li><a href="seedlibrary.html">Seed Library</a></li>
    <li><a href="about.html">About Us</a></li>
    <li><a href="friends.html">Friends</a></li>
  </ul>
</nav>

</div>

</div>

</section>

</header>
